version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: ./apps/server/Dockerfile
    container_name: feexy-api
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=production

  web:
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    container_name: feexy-web
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production