@import 'tailwindcss';
@import '@repo/tailwind-config';

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@theme {
  --color-offwhite: #f8f8f8;
  --color-primary: #F97316;
  --font-roboto: var(--font-roboto), sans-serif;
  --font-forum: var(--font-forum), serif;
  --font-gloria: var(--font-gloriahallelujah), cursive;

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  --animate-scroll: scroll 20s linear infinite;

  --mask-gradient: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);

}

@theme inline {
  --animate-scrollY: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translateY(-50%);
    }
  }
}

@media (max-width: 640px) {
  :root{
    --animate-scroll: scroll 15s linear infinite;
  }
  }

  @media (min-width: 1024px) {
    :root{
      --animate-scroll: scroll 25s linear infinite;
    }
  }